# data type :integer,float

In [1]:
1

1

In [2]:
1+2

3

In [3]:
1+2.0

3.0

In [4]:
1/2

0.5

In [5]:
2**4

16

In [6]:
2%3

2

In [7]:
var=3
var

3

In [8]:
type(var)

int

In [11]:
x=4
y=3.5
type(x)

int

In [12]:
type(y)

float

In [13]:
#strings

In [14]:
'single quote'

'single quote'

In [15]:
"double quote"

'double quote'

In [16]:
"i can't go"

"i can't go"

In [17]:
x='hello om'

In [18]:
x

'hello om'

In [19]:
print(x)

hello om

In [20]:
type(x)

str

In [21]:
num=12
name="omprakash"

In [22]:
print("my name is {} and my number is {}".format(name,num))

my name is omprakash and my number is 12

In [24]:
print("my name is {one} and my number is {two}".format(one=name,two=num))

my name is omprakash and my number is 12

In [25]:
s="omprakash"

In [26]:
s[0] #indexing

'o'

In [27]:
s[-1]

'h'

In [28]:
a="abcdefghijklmno"

In [29]:
s[0:5] #slicing

'ompra'

In [30]:
s[2:5]

'pra'

In [31]:
s[:5]

'ompra'

In [32]:
a[1:]

'bcdefghijklmno'

list:liste are sequence of elements seperated by comma

In [34]:
[1,'b',5]

[1, 'b', 5]

In [35]:
my_list=['a','b','c']

In [36]:
print(my_list)

['a', 'b', 'c']

In [37]:
my_list.append('d')#to adda an element in list

In [39]:
my_list

['a', 'b', 'c', 'd']

In [40]:
my_list[1]='e' #replacing an alement in list

In [41]:
my_list

['a', 'e', 'c', 'd']

In [42]:
nest_list=[1,2,3,[4,5,6]] #nested list

In [43]:
nest_list[3][2]

6

In [44]:
nest=[1,2,[3,4,[5,6]]]
nest[2][2][0]

5

# dictionary

In [45]:
d={'key':'value','key1':123,"key2":456}

In [46]:
d['key']

'value'

In [47]:
d['key1']

123

In [48]:
d['key2']

456

In [49]:
c={'k1':[1,2,3,4]}
c['k1'][2]

3

In [50]:
e={'key':{'k2':[1,2,3,4]}}

In [51]:
var=e['key']['k2']

In [52]:
var[2]

3

# Boolean

In [53]:
True

True

In [54]:
False

False

# Tuples

In [55]:
a=(1,2,3) #it is immutable

In [56]:
a

(1, 2, 3)

In [57]:
a[0]

1

In [58]:
a[-1]

3

In [60]:
b=('a','b',2,3,4)

In [61]:
b[0]

'a'

# set

In [72]:
set1={1,2,3,'a','b'}

In [73]:
print(set1)

{1, 2, 3, 'a', 'b'}

In [74]:
set2={1,2,3,2,3,4,5,4,5}# set takes only unique elements and dont accessable by indexing

In [75]:
print(set2)

{1, 2, 3, 4, 5}

In [78]:
set={1,2,3,3}

In [79]:
set.add(4)

In [80]:
set

{1, 2, 3, 4}

In [82]:
set.add(1)

In [83]:
set

{1, 2, 3, 4}

In [84]:
#c omparision assigment

In [85]:
1>2

False

In [86]:
1>=1

True

In [88]:
1<=3

True

In [89]:
1==1

True

In [90]:
1==2

False

In [91]:
4>=3

True

In [92]:
3<=2

False

In [93]:
21!=2

True

In [94]:
"hi"=="bye"

False

In [95]:
"hello"=="hello"

True

In [96]:
"hell"!="hello"

True

In [98]:
1<2 and 3>1

True

In [100]:
(1<4) or (3<1)

True

# if elif operation

In [102]:
if (1<2):
    print("yes")

yes

In [103]:
if(1>2):
    print("yes")
else:
    print("no")

no

In [104]:
if 1>2:
    print("first")
elif 3==3:
    print("middle")
else:
    print("last")

middle

# for loop & while loop

In [105]:
seq=[1,2,3,4,5,6,7]

In [106]:
for item in seq:
    print(item)

1
2
3
4
5
6
7

In [109]:
for num in seq:
    print(num)

1
2
3
4
5
6
7

In [112]:
#while loop
i=1;
while i<5:
    print("the value of i is {}".format(i))
    i+=i #i++ does not work in python

the value of i is 1
the value of i is 2
the value of i is 4

In [113]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [115]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [116]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
#list comprehension

In [118]:
num=[1,2,3,4]

In [120]:
element=[]
for item in num:
    element.append(item**2)

In [121]:
print(element)

[1, 4, 9, 16]

In [122]:
#list comprehenstion of above code
[x**2 for x in num]

[1, 4, 9, 16]

In [123]:
out=[x**2 for x in num]

In [124]:
out

[1, 4, 9, 16]

# Function in python

In [125]:
#the keyword for function is def
def my_function(param1):
    print(param1)

In [126]:
my_function("hello om")

hello om

In [130]:
def func(name="chautala"): #here we are passing default name if we will not give parameter then it will take it automatically
    print("hello " +name)

func()

hello chautala

In [132]:
def square(num):
    """"
    this is multiline comment
    """
    return num**2
output=square(5)
print(output)

25

In [133]:
#using shift+tab we can accees any documentation of the function

In [134]:
## map() function in python

In [135]:
num1=[1,2,3,4]#we want to apply a function to multiply each element by 2 & return the array

In [136]:
[x*2 for x in num1]

[2, 4, 6, 8]

In [144]:
#using map for above problem

def times2(num):
    return num*2
map(times2,num1)

In [148]:
t=lambda num2:num2*2 #using lambda expression we can also define the function
t(4)

8

In [154]:
map(lambda num:num*3,num1)

In [155]:
#filter in python. instead of mapping every elemnt in sequence filter takes out from the sequence

In [157]:
list(filter(lambda num:num%2==0,num1))

In [158]:
o="hello my name is Omprakash"

In [159]:
o.lower()

'hello my name is omprakash'

In [160]:
o.capitalize()

'Hello my name is omprakash'

In [161]:
o.isspace()

False

In [162]:
o.upper()

'HELLO MY NAME IS OMPRAKASH'

In [163]:
o.split()

['hello', 'my', 'name', 'is', 'Omprakash']

In [164]:
d={'k1':1,"k2":2}#dictonary

In [165]:
d

{'k1': 1, 'k2': 2}

In [166]:
d.keys()

dict_keys(['k1', 'k2'])

In [168]:
d.pop('k2')

2

In [169]:
d

{'k1': 1}

In [170]:
lst=[1,2,3,4,5]

In [171]:
lst.pop(3)

4

In [172]:
x in [1,2,3,4]

False

In [173]:
2 in [1,2,3,4,5]

True

In [ ]:
#tuple unpacking

In [174]:
x=[(1,2),(3,4),(5,6)] #variable list which contains tuples

In [176]:
x[0][0]

1

In [177]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [178]:
for (a,b) in x:
    print(a)

1
3
5

In [180]:
for a,b in x:
    print(b)

2
4
6

TypeError: list indices must be integers or slices, not map

In [139]:
list(map(times2,num1))

TypeError: 'list' object is not callable

In [71]:
set

[1, 2, 2, 2, 2, 2, 3, 3, 1, 2]